/*--============= GOOGLE FONTS ==============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*--============= CSS ==============*/
@import url("./masonry.css");
@import url("./notebook.css");
@import url("./consent.css");
@import url("./checkbox.css");

/*--============= VARIABLES CSS ==============*/
:root {
  --header-height: 3rem;
  /*--============= COLORS ==============*/
  --hue: 240;
  --title-color: #244d67;
  --text-color: #5a626f;
  --text-color-light: #5c99a8;
  --container-color: #f0efef;
  --container-color-alt: #e1e7ef;
  --body-color: #f0efef;
  --alternative-color: #b1b4b8;
  /*========== Font and typography ==========*/
  --body-font: "Poppins", sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;
  /*========== Margins ==========*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}
/*--============= BASE ==============*/
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/*========== Variables Dark theme ==========*/
body.dark-theme {
  --paper-color: #2b2b2b;
  --paper-line: #c7c7c7;
  --paper-text-color: #fff;
  --title-color: #fff;
  --text-color: #c7c7c7;
  --text-color-light: #43aca8;
  --container-color: #1a1a1a;
  --container-color-alt: #2b2b2b;
  --body-color: #121212;
}

/*========== Button Dark/Light ==========*/
body {
  margin: 0 0 var(--header-height) 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  position: relative;
}

h1,
h2,
h3,
ul,
p {
  margin: 0;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*--============= CLASS CSS ==============*/
.section {
  padding: 1.5rem 0;
}

.section-title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  text-transform: uppercase;
  letter-spacing: 0.35rem;
  text-align: center;
  margin-bottom: var(--mb-3);
  text-transform: uppercase;
}

.section-title::before {
  content: "";
  display: block;
  position: absolute;
  width: 50%;
  left: 0;
  margin-bottom: 0.95rem;
  border: 2px solid var(--title-color);
  position: inherit;
}

.section-title::after {
  content: "";
  display: block;
  width: 35%;
  height: 1px;
  background-color: var(--text-color-light);
  margin-left: 65%;
}

/*--============= LAYOUT ==============*/
.bd-container {
  max-width: 968px;
  width: calc(100% - 3rem);
  margin-left: var(--mb-3);
  margin-right: var(--mb-3);
}

.bd-grid {
  display: grid;
  gap: 0.5rem;
}

.l-header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.my-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/*--============= NAV ==============*/
.nav {
  height: var(--header-height);
  display: flex;
  -o-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}

@media screen and (max-width: 968px) {
  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    padding: 2rem 1.5rem;
    background-color: var(--body-color);
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.1);
    -ms-border-radius: 1rem 1rem 0 0;
    border-radius: 1rem 1rem 0 0;
    z-index: var(--z-fixed);
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

.nav__logo,
.nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__toggle {
  font-size: 1.2rem;
  cursor: pointer;
}

.nav__item {
  text-align: center;
  text-transform: capitalize;
}

.nav__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav__link {
  display: flex;
  flex-direction: column;
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  font-weight: var(--font-medium);
}

.nav__link:hover {
  color: var(--title-color);
}

/* Show menu */
.show-menu {
  bottom: var(--header-height);
}

/* Active menu link */
.active-link {
  color: var(--title-color);
}

/*--============= LOADER ==============*/
.lds-ellipsis {
  position: fixed;
  z-index: var(--z-fixed);
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.lds-ellipsis div {
  background: var(--text-color);
}

/*========== HOME ==========*/
.home {
  position: relative;
}

.home__container {
  gap: 3rem;
}

.home__data {
  gap: 0.5rem;
  text-align: center;
}

.home__img-round {
  width: 120px;
  height: 120px;
  -ms-border-radius: 50%;
  border-radius: 50%;
  justify-self: center;
  margin-bottom: var(--mb-1);
}

.home__title {
  font-size: var(--h1-font-size);
  text-transform: uppercase;
}

.home__profession {
  font-size: var(--normal-font-size);
  margin-bottom: var(--mb-1);
}

.home__address {
  gap: 1rem;
}

.home__information {
  display: flex;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  font-size: var(--small-font-size);
}

.home__icon {
  font-size: 1.2rem;
  margin-right: 0.25rem;
}

.home__button {
  display: flex;
  -o-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: var(--mb-3);
}

.home__item {
  font-size: 0.95rem;
  margin-bottom: 0.25rem;
  display: inline-block;
  cursor: pointer;
}

.home__item i {
  cursor: pointer;
}

.home__item i:hover,
.locale-button:hover {
  color: var(--text-color-light);
}

.home__button-mobile {
  display: inline-block;
  border: 2px solid var(--text-color);
  color: var(--title-color);
  padding: 1rem 2rem;
  -ms-border-radius: 0.25rem;
  border-radius: 0.25rem;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: var(--font-medium);
  margin-top: var(--mb-3);
}

.home__button-mobile:hover {
  background-color: var(--text-color);
  color: var(--container-color);
}

.pdf-button {
  display: none;
}

/*========== SOCIAL ==========*/
.social__container {
  grid-template-columns: max-content;
  gap: 1rem;
}

.social__link {
  display: inline-flex;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--text-color);
}

.social__link:hover {
  color: var(--title-color);
}

.social__icon {
  font-size: 1.2rem;
  margin-right: 0.25rem;
}

/*========== PROFILE ==========*/
.profile__description {
  text-align: center;
}

/*========== EDUCATION AND EXPERIENCE ==========*/
.education,
.experience {
  padding-bottom: 0.5rem;
  margin-bottom: var(--mb-3);
}

.education__content,
.experience__content {
  display: flex;
  margin-bottom: 0.5rem;
}

.education__time,
.experience__time {
  padding-right: 1rem;
}

.education__rounder,
.experience__rounder {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background-color: var(--title-color);
  -ms-border-radius: 50%;
  border-radius: 50%;
  margin-top: 0.25rem;
}

.education__line,
.experience__line {
  display: block;
  width: 2px;
  height: 100%;
  background-color: var(--text-color-light);
  -ms-transform: translate(7px, 0);
  -webkit-transform: translate(7px, 0);
  transform: translate(7px, 0);
}

.education__line,
.experience__line {
  margin-bottom: 0.5rem;
}
.education__title .experience__title {
  font-size: var(--h2-font-size);
}

.education__subtitle {
  font-size: var(--h3-font-size);
}

.education__studies {
  font-size: var(--smaller-font-size);
  color: var(--title-color);
}

.education__year {
  font-size: var(--small-font-size);
}

/*========== SKILLS AND LANGUAGES ==========*/
.skills__content,
.languages__content {
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
}

.skills__name,
.languages__name,
.experience__item {
  display: flex;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}

.skills__circle,
.languages__circle,
.experience__circle {
  display: inline-block;
  width: 0.1vw;
  height: 0.1vh;
  padding: 0.2rem;
  background-color: var(--text-color);
  -ms-border-radius: 50%;
  border-radius: 50%;
  margin-right: 0.75rem;
}

/*========== CERTIFICATES ==========*/
.certificates__title {
  font-size: var(--h3-font-size);
  margin-bottom: var(--mb-1);
  margin-top: var(--mb-3);
}

/*========== REFERENCES ==========*/
.references__content {
  gap: 0.25rem;
}

.references__subtitle {
  color: var(--text-color-light);
}

.references__subtitle,
.references__contact {
  font-size: var(--smaller-font-size);
}

.references__title {
  font-size: var(--h3-font-size);
}

/*========== INTERESTS ==========*/
.interests__content {
  grid-template-columns: repeat(3, 1fr);
  margin-top: var(--mb-2);
}

.interests__content {
  display: flex;
  flex-direction: column;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}

.interests__icon {
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
  display: inline-block;
  cursor: pointer;
}

/* Scroll top */
.scrolltop {
  position: fixed;
  right: 1rem;
  bottom: 5rem;
  display: flex;
  -o-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-align-items: center;
  align-items: center;
  padding: 0.3rem;
  background-color: var(--container-color-alt);
  -ms-border-radius: 0.4rem;
  border-radius: 0.4rem;
  z-index: var(--z-tooltip);
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  visibility: hidden;
}

.scrolltop__icon {
  font-size: 1.2rem;
  color: var(--text-color);
}

.show-scroll {
  visibility: visible;
  bottom: 5rem;
}

/*========== COOKIES CONSENT ==========*/

.cookies-popup__container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(var(--hue), 18%, 75%, 0.8);
  display: grid;
  place-items: center;
  overflow: hidden;
  transition: all 0.3s;
  z-index: var(--z-modal);
}

.cookies-popup__content {
  position: fixed;
  top: 0;
  left: 0;
  margin: 1rem;
  background-color: var(--container-color);
  padding: 2rem;
  border-radius: 0.5rem;
  text-align: center;
  z-index: var(--z-modal);
  transition: all 0.3s;
}

.cookies-popup__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
  margin-bottom: var(--mb-2);
}

.cookies-popup__description {
  font-size: var(--small-font-size);
  color: var(--text-color);
  margin-bottom: var(--mb-2);
  line-height: 1.5;
}

.cookies-popup__buttons {
  -o-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}

.cookies-popup__button {
  display: inline-block;
  background-color: var(--text-color-light);
  color: var(--container-color);
  padding: 0.5rem 1.25rem;
  margin: 1rem 1rem 0 0;
  -ms-border-radius: 0.25rem;
  border-radius: 0.2rem;
  border: none;
  transition: 0.3s;
  z-index: var(--z-modal);
}

.cookies-popup__button:hover {
  background-color: var(--title-color);
}

.cookies-popup__icon {
  font-size: 3.5rem;
  color: var(--text-color-light);
  margin-bottom: 0.75rem;
}

.cookies-popup__close {
  display: grid;
  background-color: var(--container-color-alt);
  color: var(--text-color);
  border-radius: 0.25rem;
  font-size: 1rem;
  position: relative;
  cursor: pointer;
}

.cookies-popup__close i {
  position: absolute;
  top: 0;
  right: 0;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.cookies-popup__close i:hover {
  color: var(--text-color-light);
}

.cookie-consent-icon {
  position: fixed;
  width: 2.5rem;
  height: 2.5rem;
  top: 0;
  right: 0;
  background-color: var(--title-color);
  color: var(--container-color);
  border-radius: 50px;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 1rem;
  cursor: pointer;
}

/*========== PETS ==========*/

.pets__data {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -10%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: 0.5s;
  opacity: 0;
  margin-inline: auto;
  box-shadow: 0 0.8rem 2.4rem hsla(0, 0%, 0%, 0.15);
  background-color: var(--container-color-alt);
}

.pets__data p {
  color: #e1e7ef;
  line-height: 1;
  border-radius: 0.2rem;
}

.masonry__content:hover .pets__data {
  bottom: 1rem;
  opacity: 1;
  transition: 0.5s;
}

.pets__data h3 {
  width: auto;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #e1e7ef;
  font-weight: 400;
}

.pets__icon--close,
.books__icon--close,
.writings__icon--close,
.drawings__icon--close {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  top: 5;
  left: 0;
  background-color: var(--title-color);
  color: var(--container-color);
  border-radius: 50px;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 1rem;
  cursor: pointer;
}

/*========== BOOKS ==========*/

.books__data {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -10%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: 0.5s;
  opacity: 0;
  margin-inline: auto;
  box-shadow: 0 0.8rem 2.4rem hsla(0, 0%, 0%, 0.15);
  background-color: var(--container-color-alt);
}

.masonry__content:hover .books__data {
  bottom: 1rem;
  opacity: 1;
  transition: 0.5s;
}

.books__description,
.pets__description {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 0.25rem;
}

.books__title,
.pets__title {
  font-size: var(--h3-font-size);
  font-weight: 500;
  color: var(--title-color);
  margin-bottom: 0.75rem;
}

/*========== MEDIA QUERIES ==========*/
/* For small devices, menu two columns */
@media screen and (max-width: 320px) {
  .nav__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem 0.5rem;
  }
}

/* Classes modified for large screen size */
@media screen and (max-width: 968px) {
  .profile__container {
    width: 100%;
    text-align: center;
  }

  .profile__img {
    width: 90%;
  }

  .home__button {
    margin-top: var(--mb-3);
  }
}

@media screen and (min-width: 968px) {
  body {
    margin: 3rem 0;
  }

  .bd-container {
    margin-left: auto;
    margin-right: auto;
  }

  .l-header,
  .scrolltop {
    display: none;
  }

  .resume {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    background-color: var(--container-color);
    box-shadow: 0 0 8px rgba(13, 12, 12, 0.15);
  }

  .resume__left {
    background-color: var(--container-color-alt);
  }
  .resume__left section,
  .resume__right {
    padding: 1.5rem;
  }

  .section-title,
  .profile__description {
    text-align: initial;
  }

  .home__container {
    gap: 1.5rem;
  }

  .home__button-mobile {
    display: none;
  }

  .pdf-button {
    display: inline-block;
  }

  .references__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .languages__content {
    grid-template-columns: repeat(3, max-content);
    column-gap: 3.5rem;
  }

  .interests__container {
    grid-template-columns: repeat(4, max-content);
    column-gap: 3.5rem;
  }

  .cookies-popup__content {
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
